# Ignore all files in the folder "slides"
slides/*
# Ignore all files below
*.tar
hw5/awe/exercise/*.rsf
hw5/awe/exercise/*.vpl
hw5/awe/exercise/Fig/*.vpl
hw5/awe/exercise/Fig/*.eps
hw6/rtm/exercise/*.rsf
hw6/rtm/exercise/*.vpl
hw6/rtm/exercise/Fig/*.vpl
hw6/rtm/exercise/Fig/*.eps
